.titulo {
  font-weight: 300;
}

.btn-acao {
  border-radius: 0;
  height: 50px;
  font-size: 18px;
  font-weight: 300;
  font-family: $fonteSecundaria;
  padding: 11px 15px;
  @include button-variant($corBranco, $corPreto, $corPreto);

  [class^="icone-"], [class*=" icone-"] {
    font-size: 24px;
    margin-right: 5px;
    vertical-align: middle;
    color: $corAmarelo;
  }
}

.form-com-divisoria {
  @media screen and (min-width: $screen-sm-min) {
    .esquerda {
      padding-right: 50px;
      border-right: 1px solid $corCinzaMuitoClaro;
    }

    .direita {
      padding-left: 50px;
    }
  }
}