.titulo {
  font-weight: 300;
}

.subtitulo {
  font-weight: 400;
  font-size: 48px;
}

.text-align-right {
  text-align: right;
}

.btn-acao {
  border-radius: 0;
  height: 50px;
  font-size: 18px;
  font-weight: 300;
  font-family: $fonteSecundaria;
  padding: 13px 15px;
  @include button-variant($corBranco, $corPreto, $corPreto);
  border: 0;

  [class^="icone-"], [class*=" icone-"] {
    font-size: 24px;
    margin-right: 10px;
    float: left;
    vertical-align: middle;
    color: $corAmarelo;
  }
}

.form-com-divisoria {
  @media screen and (min-width: $screen-sm-min) {
    .esquerda {
      padding-right: 50px;
      border-right: 1px solid $corCinzaMuitoClaro;
    }

    .direita {
      padding-left: 50px;
    }
  }
}

.required {
  font-size: inherit;
  font-weight: bold;
  color: $corAmarelo;
}