.titulo {
  font-weight: 300;
}

.btn-acao {
  border-radius: 0;
  height: 50px;
  font-size: 18px;
  font-weight: 300;
  font-family: $fonteSecundaria;
  padding: 6px 15px;
  @include button-variant($corBranco, $corPreto, $corPreto);
}

.form-com-divisoria {
  @media screen and (min-width: $screen-sm-min) {
    .esquerda {
      padding-right: 50px;
      border-right: 1px solid $corCinzaMuitoClaro;
    }

    .direita {
      padding-left: 50px;
    }
  }
}