.big-form {
  margin-top: 50px;

  label, .required {
    font-size: 20px;
    margin-bottom: 5px;
  }

  input.form-control, select.form-control {
    height: 54px;
    font-size: 20px;
  }

  .big-textarea {
    height: 296px;
    font-size: 20px;
  }

  .btn {
    font-size: 24px;
    height: 54px;
  }
}