.card-tela {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: transparent;

  &:hover {
    box-shadow: 0 0 10px $corCinzaClaro;
  }

  .acoes {
    background: $corAmarelo;
    padding: 0 7px;
    text-align: center;

    .file-upload-hidden {
      width: 0;
      height: 0;
      overflow: hidden;
      position: absolute;
    }

    a {
      margin: 9px 5px;
      height: 25px;
      display: inline-block;
      outline: none !important;
      text-decoration: none !important;
      cursor: pointer;

      @media (max-width: $screen-lg-min) {
        margin: 9px 10px;
      }

      @media (max-width: $screen-sm-min) {
        margin: 9px 7px;
      }

      [class^="icone-"], [class*="icone-"] {
        color: $corPreto;
        font-size: 25px;
      }

      &.disabled {
        cursor: default;

        [class^="icone-"], [class*="icone-"] {
          color: $corCinzaEscuro !important;
        }
      }
    }
  }

  .imagem {
    height: 200px !important;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    cursor: move;

    img {
      max-width: 100%;
    }
  }

  .nome {
    padding: 5px 10px;
    height: 35px;
    background: transparent;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;

    .titulo-tela {
      border-bottom: none;
      color: inherit;
      display: block;
    }

    .editable-container {
      width: 100%;

      .editableform {
        width: 100%;
        position: relative;
        height: 30px;
      }

      .editable-input {
        position: absolute !important;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 30px;
        border-bottom: 1px solid;

        input.form-control {
          background: none;
          border: none;
          padding: 0 !important;
          margin: 0;
          box-shadow: none;
          width: 100%;
          padding-right: 63px !important;
          height: 25px;
        }
        .editable-clear-x {
          display: none !important;
        }
      }
      .editable-buttons {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }
  }

  &.inativo {
    .overlay {
      display: block;
    }

    .acoes {
      background: $corPreto;

      a [class^="icone-"], [class*="icone-"] {
        color: $corAmarelo;
      }
    }
  }
}

.cards {
  margin: 30px -15px 40px;
}