@font-face {
  font-family: 'zeige';
  src:url('../font/zeige.eot?-64p5g1');
  src:url('../font/zeige.eot?#iefix-64p5g1') format('embedded-opentype'),
  url('../font/zeige.ttf?-64p5g1') format('truetype'),
  url('../font/zeige.woff?-64p5g1') format('woff'),
  url('../font/zeige.svg?-64p5g1#zeige') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icone-"], [class*=" icone-"] {
  font-family: 'zeige';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icone-desktop:before {
  content: "\e900";
}
.icone-mobile:before {
  content: "\e901";
}
.icone-tablet:before {
  content: "\e902";
}
.icone-pin:before {
  content: "\e800";
}
.icone-adicionar:before {
  content: "\e600";
}
.icone-atualizar:before {
  content: "\e601";
}
.icone-cadastrar:before {
  content: "\e602";
}
.icone-deletar:before {
  content: "\e603";
}
.icone-mover:before {
  content: "\e604";
}
.icone-editar:before {
  content: "\e605";
}
.icone-favoritado:before {
  content: "\e606";
}
.icone-favoritar:before {
  content: "\e607";
}
.icone-imagem:before {
  content: "\e608";
}
.icone-lixeira:before {
  content: "\e609";
}
.icone-ocultar:before {
  content: "\e60a";
}
.icone-ok:before {
  content: "\e60b";
}
.icone-preview:before {
  content: "\e60c";
}
.icone-publicar:before {
  content: "\e60d";
}
.icone-upload:before {
  content: "\e60e";
}
