.btn.inline-button {
  top: 36px;
  position: relative;

  &.ajustar-lg {
    @media (max-width: $screen-lg-min) {
      top: 0 !important;
    }
  }

  &.ajustar-md {
    @media (max-width: $screen-md-min) {
      top: 0 !important;
    }
  }

  &.ajustar-sm {
    @media (max-width: $screen-sm-min) {
      top: 0 !important;
    }
  }
}