.pagina-externa {
  height: 100%;

  .preview {
    background: $corBackground;
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    overflow-y: auto;

    &.tablet, &.mobile {
      background-image: url("../img/background_preview.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }

    &.desktop {
      .imagem-full img {
        box-shadow: 0 0 14px rgba(0, 0, 0, .4);
      }
    }

    &.tablet {
      .frame {
        width: 887px;
        height: 1249px;
        background-image: url("../img/tablet.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &.mobile {
      .frame {
        width: 381px;
        height: 745px;
        background-image: url("../img/mobile.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .imagem-full {
      display: none;
      margin-top: 0;

      .container-marcadores {
        cursor: auto;

        .popover {
          background: $corAmarelo;

          .arrow {
            border-bottom-color: rgba(0, 0, 0, 0.37);

            &::after {
              border-bottom-color: $corAmarelo;
            }
          }
        }
      }
    }

    &.com-imagem {
      .imagem-full {
        display: block;
      }
    }
  }

  .rodape {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: $corPreto;
    height: 100px;
    color: $corAmarelo;

    .marca {
      background: $corAmarelo;
      height: 104px;
      width: 96px;
      padding: 30px 28px;
      position: absolute;
      bottom: 0;

      &:before {
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-right-color: $corBranco;
        border-width: 9px;
        top: 50%;
        right: 0;
        margin-top: -7px;
        z-index: 1000;
      }

      &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: -4px;
        border-bottom: 4px solid $corAmareloEscuro;
        border-right: 4px solid transparent;
      }
    }

    .info {
      margin-left: 96px;

      .cliente {
        background: white;
        height: 100px;
        width: 250px;
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        position: relative;
        float: left;

        img {
          max-height: 60px;
          max-width: 180px;
          position: inherit;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }

        &:before {
          border: solid transparent;
          content: ' ';
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-right-color: $corPreto;
          border-width: 9px;
          top: 50%;
          right: 0;
          margin-top: -7px;
          z-index: 1000;
        }
      }

      .telas {
        float: left;
        padding: 28px 20px;

        .form-group {
          &:not(:last-child) {
            margin-right: 20px;
          }

          label {
            font-size: 18px;
            font-weight: 400;
            margin: 0 10px;
            vertical-align: sub;
          }

          select.form-control {
            height: 45px;
            font-size: 20px;

            &#versao {
              max-width: 200px
            }

            &#tela {
              max-width: 250px;
            }
          }
        }
      }

      .dispositivos {
        float: right;
        height: 100px;
        padding: 38px 0;

        a {
          text-decoration: none !important;
          font-size: 24px;

          [class^="icone-"], [class*="icone-"] {
            color: $corBranco;
          }

          &:not(:first-child) {
            margin-left: 20px;
          }

          &:hover, &:focus, &.active {
            [class^="icone-"], [class*="icone-"] {
              color: $corAmarelo;
            }
          }
        }
      }
    }
  }
}