.login-user {
  display: block;
  margin: 50px auto 25px;
}

.login-form {
  input.form-control {
    height: 54px;
    font-size: 20px;
    text-align: center;
  }

  .btn {
    font-size: 24px;
  }
}